body{
  background-color: lightblue;
}

.container{
  background-color: white;
 /* border: 2px yellow solid;*/
}	



h2{
  margin: 2px;
  padding: 4px;
}


h3{
  margin: 1px;
  padding: 1px;
}

hr{
  margin-bottom: 0px;
  margin-top: 0px;
}

.shadow {
	width: 300px;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	}
 
.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}	
	

#logo {
  margin-top: 5px;
  background-color: pink;
 /* border: 1px red solid; */
  font-size: 120%;
  font-family: Helvetica, Arial;
}

#top-buttons {
  /*border: 1px red solid;*/
}


#top-buttons ul {
	margin-left: 0px;
	margin-right: 0px;
	float:right;
	
}

#top-buttons ul li {
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  background-color: lightblue;
  width:  85px;
  height: 50px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
}

#top-buttons ul li:visited {
  background-color: black;
  }
  
#top-buttons ul li:hover {
  background-color: blue;
}

#top-buttons ul li a {
  text-align: bottom;
  font-size: 125%;
  color: black;
  display: block;
  text-decoration: none;  
}

#sidebar {
  display: hide;
  position: fixed;
  top: 120px;
  right: 100px;
}

#sidebar ul li {
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  background-color: lightblue;
  width:  120px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  list-style-type: none;
  display: block;
}

#sidebar ul li:visited {
  background-color: black;
  }
  
#sidebar ul li:hover {
  background-color: blue;
}

#sidebar ul li a {
  text-align: bottom;
  font-size: 125%;
  color: black;
  text-decoration: none;  
}



#footer {
}

#footer ul {
  text-align:center;
}

#footer ul li {
  width:  86px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  list-style-type: none;
  display: inline-block;
}

#footer ul li a {
  font-size: 100%;
  color: black;
  text-decoration: none;  
}

#footer {
  background-color: white;
  border: 2px yellow;
}

button {
  
  color: white;	
  font-size: 120%;
  text-decoration: bold; 
  text-align: center;
  background-color: green;
  width: 140px;
  position: fixed;
  top: 100px;
  right: 100px;
	}



a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: none;
  padding: 20px;
}

a.print_coupon_button {
  float: left;
  width: 50px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  color: #fff;
  background: lightgreen;
  font-size: 120%;
  font-weight: bold;
  padding: 9px;
  text-decoration: none; 
}

.coupon_image {
float: right;
margin: 5px;
}

.coupon-popup {
float: right;
margin: 5px;
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}



#coupon {
  text-align: center;
  width: 289px;
  height: 210px;
  border: 2px gray solid;
  background-color: #eee;
  margin: 3px;
  padding: 2px;
}

#coupon p {
  text-align: center;
  margin-bottom: 2px;
}
    

/*CSS Sabrosus style pagination*/
div.pagination {
	margin:3px;
	text-align:center;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #9aafe5;
	
	text-decoration: none; 
	color: #2e6ab1;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #2e6ab1;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}





/*


body {
  background: #lightblue;
}

header {
  padding-top: 0px;
  border: 1px solid green;
}

header img {
  padding: 0em;
  background: #fff;
}

section {

  height: 425px;
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
  vertical-align: top;
}

section h2 {
  font-size: 125%;
}


a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}




nav {
  border: 2px black; 
  float: right;
  background-color:white;
  padding: 0 em;
  white-space: nowrap;
  border-right: 1px gray;
 
}

nav ul {
  margin: 0;
  padding: 0;
  border-right: 1px gray;
  font-color: black;
  
}

nav ul li {
  background-image: url('/images/navbar.png');
  width: 125px;
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  text-align: center;
  
  
}

nav ul li a {
  padding: 0 20px;
  font-size: 145%;
  font-weight: bold;
  color: black;
}

nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  width: 125px;
  text-decoration: underline;
  background-image: url('/images/navbar-mouseover.png');
}


sidebar {
 float: right;
 }
 
sidebar ul {
  margin: 0;
  padding: 0;
}

sidebar ul li {
  list-style-type: none;
  display: block;
  padding: 0.2em 0;
}

sidebar ul li a {
  padding: 0 5px;
  font-weight: bold;
}

sidebar ul li a:visited {
  color: #09c;
}

sidebar ul li a:hover {
  text-decoration: underline;
}



a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: none;
  padding: 20px;
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
  #position: relative;
}

footer nav {
  float: none; 
}

footer nav ul li {
  
  background-image: none;
  width: 75px;
}



table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 0em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}



div.field, div.actions {
margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

*/
