<script>
jQuery(document).ready(function($) {
 	$('#buttons-side').hide();     // Hide the sidebar
})
</script>


<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Save changes" %>
  </div>
<% end %>

