<div id="coupon"> 
  <h2> <%= @coupon.name %> </h2>
  <%= image_tag(@coupon.image_url, :size => "300x200", :class => "round", :alt => @coupon.name) %>
  <%= @coupon.id %>                             
  <p> Expires: <%= @coupon.expires_on %></p>
  
</div> 
 
