<h1>Edit deal</h1>

<%= form_for(@coupon, :html => { :class => "edit_post" }) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Save changes" %>
  </div>
<% end %>

