<script>
jQuery(document).ready(function($) {
 	$('#buttons-side').hide();     // Hide the sidebar
})
</script>

<h1>All Coupons</h1>
  <table>
  <% counter = 0 %>
  <% for i in 0..18 do %>
	<tr>
	<% for j in 0..2 do %>
		<td>
		<%= render @coupons[counter] %>
		</td>
		<% counter += 1 %>
   <% end %>
   </tr>
 <% end %>
 </table>


