<h1>All Coupons</h1>
<div>
<script>
jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox() 
})
</script>
</div>
<div class="flickr_pagination">
  <%= will_paginate @coupons, :container => false %>
  <%= render @coupons %>
  <%= will_paginate @coupons, :container => false %>
</div>



