
    
<div>   
<h2>Popular Coupons</h2>
</div>        

  <table>
  <% counter = 0 %>
  <% for i in 0..4 do %>
	<tr>
	<% for j in 0..2 do %>
		<td>
		<% @coupon = @coupons[counter] %>
		<%= render @coupon %>
		</td>
		<% counter += 1 %>
   <% end %>
   </tr>
 <% end %>
 </table>

