<h1>All Coupons</h1>

<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
  <div class="coupon_row">
    <%= render @coupons %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>



