<script>
jQuery(document).ready(function($) {
 	$('#buttons-side').hide();     // Hide the sidebar
})
</script>

<%= form_for(@order) do |f| %>
  <%= render 'shared/payment_form', :f => f %>
  <div class="actions">
    <%= f.submit "Buy!" %>
  </div>
<% end %>

