<script>
jQuery(document).ready(function($) {
 	  $('button').text("Click here to hide");
})
</script>

<h1>About Us</h1>
<p>
	Launched in November 2008, Waznoo was designed to be an antidote to a boring weekend. Attractive alternatives to the same old places and staying home to watch a movie. There are so many cool things to do but the choices can be overwhelming.  That's why we distilled the happenings into a weekly tip list of local events.Now have expanded into the world of group buy discount offers.
Waznoo now offers the best deals on restaurants, spas, massages, theaters, hotels, and a whole lot more, in Claremont and the Foothill Communities along the 210 corridor.
We have partnered with top-rated business partners who offer unbeatable prices so you can try new things with confidence. We want you to feel good about your experience. If there's anything unsatisfactory about a deal we want to know.
</p>
