<h1>Today's Coupons</h1>
<p>
	Check back regularly for new coupons!
</p>


<table class="coupon_table">
  <tr>
    <td class="main">
        <%= render @coupons %>
        <%= will_paginate %>
    </td>
  </tr>
</table>
