<!DOCTYPE html>
<html>
  <head>
    <title>WaznooDeals! | <%= @title %></title>
  </head>
  <body>
    <h1>Today's Deal</h1>
    <p>
      Sign up or log in to see today's fantastic offer!     
    </p>    
     
    <%= link_to "Sign up now!", new_user_path, :class => "signup_button round" %>
    <p>
    </p>
  </body>
</html>
