<!DOCTYPE html>
<html>
  <head>
    <title>WaznooDeals! | <%= @title %></title>
  </head>
  <body>
    <h1>Today's Deal</h1>
    <% if !(signed_in?) %>
        <p> Sign up or log in to see today's fantastic offer!</p>    
        <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
    <% else %>
        <div id="showdeal">
			<h2> Deal for <%= date_as_string(Date.today) %> </h2>
	        <%= render 'shared/display_deal' %>
        </div>  
	<% end %>
  </body>
</html>
