  
  <script>
  
  $(document).ready(function() {
$('a.print').click(function(){
	window.print();
	return false;
});
});

</script>





<a href="images/stairs.jpg" rel="facebox">Facebox Popup</a>

<a href="#" class="print">Print this page</a>
