<script>
jQuery(document).ready(function($) {
 	  $('button').text("Click here to hide");
})
</script>

<h1>Previous Deals</h1>
<p>
	Here are some of the amazing deals offered by Waznoo in the past!
</p>
