<script>
jQuery(document).ready(function($) {
 	  $('button').text("Click here to hide");
})
</script>


<h2>
What is Waznoo?
</h2>
<p>
Each week, Waznoo features deals in your area on everything from stores & restaurants to spas & entertainment. By guranteeing businesses a minimum number of customers, we get you unbeatable discounts through the power of collective buying.
</p>

<h2>
FAQs
</h2>
<p>
<b>How do I sign up for the deal?</b>
Simply click "BUY" before the offer expires and if the required minimum number of people sign up, we'll charge your card and send you a link to print your Waznoo. If the required minimum number of people do not sign up, nobody gets the deal, and your credit card will not be charged.
</p>
<p>
<b>What if I don't know the other people who sign up?</b>
No worries. Plenty of other people will see the offer but don't let that stop you inviting friends and family along.
</p>
<p>
<b>What happens if not enough people sign up for the deal?</b>
The deal is canceled, and you won't be charged a dime.
</p>
<p>
<b>When am I billed for my Waznoo?</b>
You will only be charged when the Waznoo reaches the required minimum.
</p>
<p>
<b>How long is do I have to use my Waznoo buy?</b>
Each deal has an expiration date. You'll need to use it or lose it by then.
</p>
<p>
<b>What happens after I buy a Waznoo?</b>
Once the deal is on and you've made your payment we send you and email link to print your Waznoo. It will have redemption instructions along with a map. 
</p>
<p>
<b>Do I have to use the total value of the Waznoo on my first visit.</b>
Sorry folks.You will not receive store credit or cash back for whatever you don't use.
</p>
<p>
<b>Can I combine my Waznoo with other offers or specials?</b>
No... not unless the Waznoo specifically states otherwise.
</p>
<p>
<b>How safe is Waznoo?</b>
Extremely. Your credit card number is transmitted by SSL directly to a secure electronic vault. At no time is your credit card information stored on our servers.
</p>
<p>
<b>What happens if my Waznoo expires?</b>
All is not lost! Once a Waznoo reaches its expiration date, it loses its promotional value, but you can still redeem it at the price you paid for the length of time stated by gift certificate laws in your state.
</p>
<p>
<b>What if the business for my Waznoo closes down?</b>
If anything happens that makes it impossible for you to redeem your Waznoo, we'll make sure you get your money back.
</p>
